.MainContainer {
  width: 100%; 
  min-width: 1440px;
  height: 100vh; 
  background-color:#F6F6F6;
}

.BodyContainer {
  display: flex;
  width: 100%;
  height: 1468px;
  flex-direction: row;
  background-color: #F6F6F6;
  margin-top: 36px;
}

.LateralMenuContainer {
  width: fit-content;
  height: fit-content;
  margin-left: 60px;
}

.DestinationListConainer {
  display: flex;
  width: 929px;
  height: 1468px;
  flex-direction: column;
  margin-left: auto;
  margin-right: 60px;
}

.FootContainer {
  display: flex;
  width: 100%;
  height: 104px;
  background-color: #F6F6F6;
}

.PaginationComponentContainer {
  display: flex;
  margin-left: auto;
  margin-right: 60px;
  margin-top: 24px;
}
