
.MainContainer {
    position: absolute;
    width: 494px;
    height: 550px;
    top: 107px;
    right: 56px;
    flex-direction: column;
    align-items: center; 
    background-color: #FFFFFF;
}

.TopContentContainer {
    width: 446px;
    height: 171px;
    margin: 24px;
}

.Title {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    height: 600;
    margin-top: 4px;
    color: #0A1E31;
}


.TopContentContainerBody {
    display: flex;
    width: auto;
    height: 98px;
    margin-top: 12px;
    flex-direction: row;
}

.TopContentContainerBody img {
    width: 57px;
    height: 62px;
}

.TopContentContainerBodyTextsContainer {
    width: 371px;
    height: 98px;
    margin-left: auto;
    flex-direction: column;
}

.TopContentContainerBodyTextsContainerHeader {
    display: flex;
    width: auto;
    height: 38px;
    flex-direction: row;
}

.TopContentContainerBodyPricesTextContainer {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    gap: 8px;
}

.TopContentContainerBodyPricesText{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    height: 400;
    color: #989AA7;
}

.Divider {
    width: auto;
    height: 1px;
    background-color: #E7E9ED;
}

.QuantityPurchasedContainer {
    width: auto;
    height: fit-content;
    margin-top: 8px;
}
.QuantityPurchasedContentContainer {
    display: flex;
    width: auto;
    height: 19px;
    margin-top: 8px;
    flex-direction: row;
    justify-content: space-between;
}

.QuantityPurchasedContainerTotalText {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    height: 400;
    color: #646981;
}

.QuantityPurchasedContainerSubtotalText {
    font-family: 'CircularSDT';
    font-size: 16px; 
    font-weight: 700;
    color: #0A2156;
}

.QuantityPurchasedContainerSubtotalTextValue{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    height: 600;
    color: #17191C;
}

.QuantityContainer p {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    height: 400;
    color: #989AA7;
}


.TopContentContainerBodyTextsContainer img {
    width: 17px;
    height: 17px;
}

.TicketTitle {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    height: 400;
    color: #646981;
}


.BodyContainer {
    display: flex;
    width:  446px;
    height: 199px;
    flex-direction: column;
    margin: 24px;
}

.BodyTextsContainer {
    display: flex;
    width: 446px;
    height: 121px;
    flex-direction: column;
    gap: 14px;
}

.BodyContentContainer {
    display: flex;
    width: auto;
    height: 19px;
    justify-content: space-between;
    flex-direction: row;
}

.BodyContainerTextNormal {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    height: 400;
    color: #A2A4B1;
}

.BodyContainerTextBold {
    font-family: 'CircularSDT';
    font-size: 16px; 
    font-weight: 700;
    color: #0A2156;
}

.BodyContainerDiscountText {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    height: 600;
    color: #00919E;
}

.TotalValueContainer{
    display: flex;
    width: auto;
    height: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.TotalValueContainerText {
    font-family: 'CircularSDT';
    font-size: 16px; 
    font-weight: 700;
    color: #0A2156;
}

.TotalValueContainerPriceText {
    font-family: 'Roboto';
    font-size: 24px; 
    font-weight: 400;
    color: #4070F4;
}

.GoToCheckOutButtonContainer {
    display: flex;
    width: 443px;
    height: 56px;
    margin-top: 24px;
    border-radius: 6px;
    margin-inline: 25.5px;
    align-items: center;
    justify-content: center;
    background-color: #0045F3;
}

.GoToCheckOutButtonText {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    height: 600;
    color: #FFFFFF;
}
