.MainContainer {
    width: 100%;
    height: 101px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
}

.ContentContainer {
    display: flex;
    width: calc(100% - 120px);
    height: 50px;
    margin-left: 60px; 
    margin-right: 60px;
    align-items: center;
}

.LogoContainer {
    width: 135.62px;
    height: 29.48px;
}

.RightContentContainer {
    display: flex;
    width: 453px;
    height: 50px;
    align-items: center;
    margin-left: auto;
    flex-direction: row;
}

.DollarDescriptionText {
    font-family: 'CircularSDT';
    font-size: 12px; 
    font-weight: 450;
    white-space: nowrap;
    color: #3C4C70;
}

.FlagContainer {
    width: 30px;
    height: 21px;
    margin-left: 16px;
}

.FlagContainer img {
    width: 100%; 
    height: 100%; 
    object-fit: fill;
}

.QuestionBallonContainer {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    overflow: hidden;
   
}

.QuestionBallonContainer img {
    width: 100%; 
    height: 100%; 
    object-fit: fill;
}
.Divider {
    width: 1px;
    height: 29px;
    background-color:#E7E9ED;
    margin-left: 16px;
}

.PersonIconContainer {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.EnterText {
    font-family: 'CircularSDT';
    font-size: 16px; 
    font-weight: 700;
    margin-left: 4px;
    color: #4070F4;
}

.ShoppingButtonContainer {
    display: flex;
    width: 98px;
    height: 50px;
    border-radius: 4px;
    margin-left: 16px;
    background-color:#0045F3;
    align-items: center;
}

.ShoppingButtonContainer img {
    margin-left: 12px;
}

.ItemShoppingCounterContainer {
    display: flex;
    width:32px;
    height: 32px;
    border-radius: 44px;
    margin-left: 6px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.08);
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.ItemShoppingCounterContainer p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    height: 600;
    color: #FFFFFF;
}
