
.MainContainer {
    display: flex;
    width: 367px;
    height: 1103px;
    flex-direction: column;
    align-items: center;
    background-color: darkseagreen;
}

.HeaderContainer {
    display: flex;
    width: 319px;
    height: 42px;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    background-color: beige;
}

.Title {
    font-family: 'CircularSDT';
    font-size: 24px; 
    font-weight: 700;
    color: #0A2156;
}

.ButtonText {
    font-family: 'CircularSDT';
    font-size: 14px; 
    font-weight: 450;
    margin-left: auto;
    color: #3570BF;
}


.Divider {
    width: 319px;
    height: 1px;
    background-color:#E7E9ED
}

.PriceFilterContainer {
    display: flex;
    width: 319px;
    height: 110px;
    flex-direction: column;
    margin-top: 24px;

}

.PriceTitle {
    font-family: 'CircularSDT';
    font-size: 16px; 
    font-weight: 700;
    color: #0A2156;
}

.PriceButtonGroupContainer {
    display: flex;
    width: 300px;
    height: 76px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;

}

.PriceButtonFilled {
    display: flex;
    width: 147px;
    height: 34px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'CircularSDT';
    font-size: 14px; 
    font-weight: 450;
    cursor: pointer;
    background-color: #4070F4;
}

.PriceButtonNotFilled {
    display: flex;
    width: 147px;
    height: 34px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    border: 1px solid #CED2DB;
    color: #FFFFFF;
    font-family: 'CircularSDT';
    font-size: 14px; 
    font-weight: 450;
    cursor: pointer;
}

.StarFilterContainer {
    width: 319px;
    height: 115px;
    margin-top: 24px;
    background-color: burlywood;
}

.StarFilterHeaderContainer {
    width: 100%;
    height: 22px;
    background-color: aqua;
}

.StarFilterTitle{
    font-family: 'CircularSDT';
    font-size: 16px; 
    font-weight: 700;
    color: #0A2156;
}

.StarButtonGroupContainer {
    display: flex;
    width: 319px;
    height: 79px;
    margin-top: 14px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #4070F4;
}

.StarButtonSubGroupContainer {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    gap: 15px;
}

.StarButton {
    display: flex;
    width: fit-content;
    height: 32px;
    flex-direction: row;
    align-items: center;
    border: 1px solid #E7E9ED;
}

.StarButton p {
    font-family: 'CircularSDT';
    font-size: 14px; 
    font-weight: 450;
    margin-left: 10px;
    margin-right: 4px;
    color: #B6BCC9;
}

.StarButton img {
    width: 24px;
    height: 24px;
}

.CommodityContainer {
    width: 319px;
    height: 184px;
    margin-top: 24px;
    background-color: aqua;
}

.CommodityHeaderContainer {
    width: 100%;
    height: 22px;
    background-color: #4070F4;
}

.CommodityHeaderContainer p {
    font-family: 'CircularSDT';
    font-size: 16px; 
    font-weight: 700;
    color: #0A2156;
}

.CommodityCheckBoxGroupContainer {
    display: flex;
    width: 143px;
    height: 148px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 14px;
    gap: 12px;
    background-color: orange;
}

.CheckBoxContainer {
    display: flex;
    width: fit-content;
    height: 20px;
    background-color: green;
}

.CheckBoxContainer input {
    width: 20px;
    height: 20px;
    border: 1.8px solid #9EA5B8;
    border-radius: 3px;
}

.CheckBoxContainer p {
    font-family: 'CircularSDT';
    font-size: 14px; 
    font-weight: 450;
    margin-left: 10px;
}