
.MainContainer {
    display: flex;
    width: 367px;
    height: 1103px;
    flex-direction: column;
    align-items: center;
    background-color: darkseagreen;
}

.HeaderContainer {
    display: flex;
    width: 319px;
    height: 42px;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    background-color: beige;
}

.Title {
    font-family: 'CircularSDT';
    font-size: 24px; 
    font-weight: 700;
    color: #0A2156;
}

.ButtonText {
    font-family: 'CircularSDT';
    font-size: 14px; 
    font-weight: 450;
    margin-left: auto;
    color: #3570BF;
}


.Divider {
    width: 319px;
    height: 1px;
    background-color:#E7E9ED
}

.PriceFilterContainer {
    display: flex;
    width: 319px;
    height: 110px;
    flex-direction: column;
    margin-top: 24px;

}

.PriceTitle {
    font-family: 'CircularSDT';
    font-size: 16px; 
    font-weight: 700;
    color: #0A2156;
}

.PriceButtonGroupContainer {
    display: flex;
    width: 300px;
    height: 76px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;

}

.PriceButtonFilled {
    display: flex;
    width: 147px;
    height: 34px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'CircularSDT';
    font-size: 14px; 
    font-weight: 450;
    background-color: #4070F4;
}

.PriceButtonNotFilled {
    display: flex;
    width: 147px;
    height: 34px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    border: 1px solid #CED2DB;
    color: #FFFFFF;
    font-family: 'CircularSDT';
    font-size: 14px; 
    font-weight: 450;
}

